section {
  width: 70%;
  margin: 0 auto;
}

h3 {
  margin: 0;
}

.view_all {
  margin-left: var(--sm-spacing);
}

/* Removes image from header */
@media (max-width: 650px) {
  section {
    width: 90%;
  }
}
