header {
  background: var(--green);
  color: var(--white);
}

h2 {
  color: var(--light-chocolate);
}

.header__description_container {
  /* border: 2px solid purple; */
  padding: 4rem;
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
}

.header__description {
  /* border: 2px solid red; */
  display: grid;
  padding: var(--sm-spacing);
  padding-bottom: 2.8rem;
  position: relative;
}

.description__container {
  margin: auto;
}

.header__image_container {
  position: relative;
  /* border: 2px solid blue; */
  display: grid;
  height: 100%;
}

.header__image_container img {
  width: 65%;
  display: block;
  margin: auto;
  position: relative;
}

svg {
  position: absolute;
  display: block;
  margin: auto;
}


/* hr {
  border-top: 7px dotted var(--olive);
  width: 75%;
  margin: 0 auto;
  background: transparent;
  padding-bottom: 5.6rem;
} */



/* Removes image from header */
@media (max-width: 650px) { 
  .header__description_container {
    grid-template-columns: 100%;
    padding: 1rem;
  }
  .header__image_container {
    display: none;
  }
}