h1 a {
    font-family: 'Dawning of a New Day', cursive;
    color: var(--chocolate);
    text-decoration: none;
}

.nameTag {
    width: max-content;
    padding: 1rem 2.2rem 1.5rem 1rem;
    background: var(--white);
}

