nav {
    margin-bottom: var(--xs-spacing);
}

.nav__link {
    color: var(--white);
    text-decoration: none;
}

.nav__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
}

.nav__list li {
    padding: var(--xs-spacing) var(--sm-spacing);
    margin: 0 var(--sm-spacing) 0 0;
    background: var(--chocolate);
    color: var(--white);
    letter-spacing: var(--letter-spacing);
    line-height: 18.4px;
}

.nav__list li a:hover {
    font-weight: bold;
}

.nav__list li:nth-child(2n) {
    background: var(--olive);
}

@media (max-width: 650px) { 
    .nav__list {
        justify-content: center;

    }
    .nav__list li:last-child {
        margin-right: 0;
    }
}

@media (max-width: 380px) {
    .nav__list {
        justify-content: space-between;
    }

    .nav__list li,
    .nav__list li:last-child  {
        font-size: 12px;
        margin: 0;
    }
}


