section {
  background: var(--lightest-olive);
  padding: var(--base-spacing);
  color: var(--forest);
  margin: var(--section-spacing) 0;
  width: 70%;
  position: relative;
}

.section__sub_container {
  border: 2px solid red;
}

svg {
  position: absolute;
}

.svg__one {

}

.svg__two {
  
}

.svg__three {
  
}


@media (max-width: 1050px) { 
  section {
    width: 85%;
  }
}

@media (max-width: 650px) { 
  section {
    width: 100%;
  }
}