.quickLinks__section {
  background: var(--lightest-olive);
  color: var(--forest);
  width: 70%;

}

.link {
  text-decoration: underline;
  color: var(--dark-chocolate);
}

.section__sub_container {
  border: 2px solid red;
}

svg {
  position: absolute;
}


@media (max-width: 1050px) { 
  .quickLinks__section {
    width: 85%;
  }
}

@media (max-width: 650px) { 
  .quickLinks__section {
    width: 100%;
  }
}