ul.skillList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.skillList li {
  border: 2px solid var(--lightest-olive);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 20px 10px 10px;
  border-radius: 10px;
}

.skillList img {
  width: 50px;
  padding-bottom: 10px;
}
