.container {
  margin: 0 auto;
  margin-bottom: var(--section-spacing);
  width: max-content;

}

.skill__container h3 {
  text-align: right;
}

.grid {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: flex-end;
}

.half {
  /* border: 2px solid red; */
  padding: 0 var(--base-spacing);
}

@media (max-width: 650px) { 

  .skill__container h3 {
    text-align: center;
  }

  .grid {
    flex-direction: column;
  }
}