@font-face {
  font-family: "Varela Round";
  src: url("./Varela_Round/VarelaRound-Regular.ttf");
}

@font-face {
  font-family: "Dawning of a New Day";
  src: url("./Dawning_of_a_New_Day/DawningofaNewDay-Regular.ttf");
}
