.padding {
    padding: 1rem;
}

/* Colors */


:root {
    /* Spacing */
    --base-spacing: 2rem; /* 20px */
    --sm-spacing: calc(var(--base-spacing) / 2); /*  10 */
    --xs-spacing: calc(var(--sm-spacing) / 2); /* 5  */
    --xxs-spacing: calc(var(--xs-spacing) / 2); /* 2.5 */
    --lg-spacing: calc(var(--base-spacing * 2)); /* 40  */
    --x-lg-spacing: calc(var(--lg-spacing * 2)); /* 80 */
    --xx-lg-spacing: calc(var(--x-lg-spacing * 2)); /* 160 */
    --letter-spacing: 0.01rem;

    /* Colors */
    --green: #59775D;
    --olive: #9DA47A;
    --light-olive: #d5dcb4;
    --chocolate: #B79074;
    --light-chocolate: #d4bcab;
    --white: #ffffff;


}

html body {
    font-size: var(--sm-spacing);
    /* font-family: 'Varela Round', sans-serif; */
    font-family: 'Courier New', Courier, monospace;
}

h2, h3, h4, h5, h6, p, a {
  /* font-family: 'Varela Round', sans-serif; */
  font-family: 'Courier New', Courier, monospace;
}

a {
  color: var(--light-olive);
}

/* -------- Lists -------- */

.list--blank {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: decimal;
  margin:  0 0 var(--sm-spacing);
  padding: 0 0 0 var(--base-spacing);
}

ul {
  list-style-type: disc;
  margin:  0 0 var(--sm-spacing);
  padding: 0 0 0 var(--base-spacing);

}

ul ul {
    list-style-type: circle;
    margin-bottom: 0;
}


dl {
  margin-bottom: var(--base-spacing) / 2;
}

dl dt {
    font-weight: bold;
    margin-top: var(--base-spacing) / 2;
}

dl dd {
    margin: 0
}