.padding {
    padding: 1rem;
}

/* Colors */


:root {
    /* Spacing */
    --base-spacing: 2rem; /* 20px */
    --sm-spacing: calc(var(--base-spacing) / 2); /*  10 */
    --xs-spacing: calc(var(--sm-spacing) / 2); /* 5  */
    --xxs-spacing: calc(var(--xs-spacing) / 2); /* 2.5 */
    --lg-spacing: calc(var(--base-spacing) * 2 ); /* 40  */
    --x-lg-spacing: calc(var(--lg-spacing) * 2); /* 80 */
    --xx-lg-spacing: calc(var(--x-lg-spacing) * 2); /* 160 */

    --section-spacing: calc( var(--x-lg-spacing) * 4);

    --letter-spacing: 0.01rem;

    /* Breakpoints */
    --header-breakpoint: 65.0rem;


    /* Colors */
    --green: #59775D;
    --forest: #243527;
    --olive: #9DA47A;
    --light-olive: #d5dcb4;
    --lightest-olive: #e1e4d2;
    --chocolate: #B79074;
    --dark-chocolate: #795d49;
    --light-chocolate: #d4bcab;
    --white: #ffffff;


}

html body {
    font-size: var(--sm-spacing);
    /* font-family: 'Varela Round', sans-serif; */
    font-family: 'Courier New', Courier, monospace;
}

section {
  position: relative;
  padding: var(--base-spacing);
  margin-bottom: var(--section-spacing);
}

h2, h3, h4, h5, h6, p, a {
  /* font-family: 'Varela Round', sans-serif; */
  font-family: 'Courier New', Courier, monospace;
  position: relative;
}

h3 {
  margin-top: 0;
}

a {
  color: var(--light-olive);
}

/* -------- Lists -------- */



.sm--spacing {
  margin-bottom: var(--sm-spacing);
}

.xs--spacing {
  margin-bottom: var(--xs-spacing);
}

.base--spacing {
  margin-bottom: var(--base-spacing);
}

.lg--spacing {
  margin-bottom: var(--lg-spacing);
}

.x-lg--spacing {
  margin-bottom: var(--x-lg-spacing);
}

.list--blank {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: decimal;
  margin:  0 0 var(--sm-spacing);
  padding: 0 0 0 var(--base-spacing);
}

ul {
  list-style-type: disc;
  margin:  0 0 var(--sm-spacing);
  padding: 0 0 0 var(--base-spacing);

}

ul ul {
    list-style-type: circle;
    margin-bottom: 0;
}


dl {
  margin-bottom: var(--base-spacing) / 2;
}

dl dt {
    font-weight: bold;
    margin-top: var(--base-spacing) / 2;
}

dl dd {
    margin: 0
}