.padding {
  padding: 1rem;
}

.container {
  flex: 1;
  display: flex;
  min-height: calc(100vh - 178px);
  flex-direction: column;
}

/* Colors */

:root {
  /* Spacing */
  --base-spacing: 2rem; /* 32px */
  --sm-spacing: calc(var(--base-spacing) / 2); /*  16 */
  --xs-spacing: calc(var(--sm-spacing) / 2); /* 8  */
  --xxs-spacing: calc(var(--xs-spacing) / 2); /* 4 */
  --lg-spacing: calc(var(--base-spacing) * 2); /* 64  */
  --x-lg-spacing: calc(var(--lg-spacing) * 2); /* 128 */
  --xx-lg-spacing: calc(var(--x-lg-spacing) * 2); /* 256 */

  --section-spacing: var(--x-lg-spacing); /* 256 */

  --letter-spacing: 0.01rem;

  /* Breakpoints */
  --header-breakpoint: 65rem;

  /* Colors */
  --green: #59775d;
  --forest: #243527;
  --olive: #9da47a;
  --light-olive: #d5dcb4;
  --lightest-olive: #e1e4d2;
  --chocolate: #b79074;
  --dark-chocolate: #795d49;
  --light-chocolate: #d4bcab;
  --white: #ffffff;
}

html body {
  font-size: var(--sm-spacing);
  font-family: "Varela Round", sans-serif;
}

section {
  position: relative;
  padding: var(--base-spacing) var(--sm-spacing);
  margin-bottom: var(--section-spacing);
  color: var(--forest);
}

h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Varela Round", sans-serif;
  position: relative;
}

h3 {
  margin-top: 0;
  color: var(--light-chocolate);
}

li {
  line-height: 30px;
}

a {
  color: var(--light-olive);
}

.heading_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--xs-spacing);
}

/* -------- Lists -------- */

.sm--spacing {
  margin-bottom: var(--sm-spacing);
}

.xs--spacing {
  margin-bottom: var(--xs-spacing);
}

.base--spacing {
  margin-bottom: var(--base-spacing);
}

.lg--spacing {
  margin-bottom: var(--lg-spacing);
}

.x-lg--spacing {
  margin-bottom: var(--x-lg-spacing);
}

.list--blank {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: decimal;
  margin: 0 0 var(--sm-spacing);
  padding: 0 0 0 var(--base-spacing);
}

ul {
  list-style-type: disc;
  margin: 0 0 var(--sm-spacing);
  padding: 0 0 0 var(--base-spacing);
}

ul ul {
  list-style-type: circle;
  margin-bottom: 0;
}

dl {
  margin-bottom: var(--base-spacing) / 2;
}

dl dt {
  font-weight: bold;
  margin-top: var(--base-spacing) / 2;
}

dl dd {
  margin: 0;
}
